.login-container{
    background-image: url('../../images/login-bg/login-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 90vh;
}