.banner{
    background-image: url('../../../images//banner//banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: overlay;
    width: 100%;
    height: 80vh;
    
}
.banner-title{
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-size: 55px;
    font-weight: 800;
    text-shadow: 3px 3px 8px black;
    
    
    
}